**/__pycache__/**
/.vscode/
/venv/
/cbp
/papers/
/benchmark_results/
/comparison_results/
/profiling/outputs/
**/*.out
/traces/

/notes

# old sweeps
/profiling/scripts/*_sweep.py
/profiling/scripts/*_comparison.py
!/profiling/scripts/full_comparison.py

# LaTeX temporary files
*.aux
*.log
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.snm
*.nav
report/executive_summary.pdf
presentation/presentation.pdf
report/Images/*-eps-converted-to.pdf
